.cover__link {
  text-decoration: none;
  background-image: url(../../../images/cover-image.jpg);
  background-size: cover;
  background-position: center;
  min-height: 740px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.cover__link::before {
  display: block;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color .5s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__link:hover:before {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}
