.place__title {
  margin: 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 700px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
