.places {
  max-width: 984px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 80px;
  padding-top: 92px;
  width: calc(100% - 148px * 2);
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .places {
    row-gap: 73px;
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 320px) {
  .places {
    row-gap: 64px;
    width: calc(100% - 16px * 2);;
  }
}
