.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  width: calc(100% - 48px * 2);
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
    width: calc(100% - 16px * 2);
  }
}
