.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 6em;
  line-height: 100px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 2.5em;
    line-height: 44px;
  }
}
