.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: white;
}

.place__paragraph:not(:first-child) {
  padding-top: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}
