.lead__subtitle {
  margin: 0 auto;
  max-width: 640px;
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    max-width: 288px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    width: calc(100% - 16px * 2);
  }
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    padding-top: 16px;
  }

}
